body {
	background: black;
	font-family: "Caveat";
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
p {
	color: black;
	font-size: medium;
	font-family: "Caveat";
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	text-align: justify;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
	margin: 5px;
}
.postcard-header h1 {
	width: 330px;
	margin: 5px;
	font-family: "Caveat";
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 5px 5px;
}
input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: rgb(173, 173, 173);
	font-family: "Caveat";
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: rgb(184, 182, 182);
	padding: 5px;
	font-family: "Caveat";
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: rgb(134, 133, 133);
}
